## List Practice

In [7]:
#Declare List
#List can contains items of different types, but usually all items have same type
list= [1,2,3,4,'A','Pune','Mumbai','B']
list

[1, 2, 3, 4, 'A', 'Pune', 'Mumbai', 'B']

In [12]:
#append - Add value at end
list.append('C')
list

[1, 2, 3, 4, 'A', 'Pune', 'Mumbai', 'B', 'C']

In [13]:
#append - append added the list as single element
list.append([10,11])
list

[1, 2, 3, 4, 'A', 'Pune', 'Mumbai', 'B', 'C', [10, 11]]

In [18]:
#clear - Remove all element
list.clear()
list

[]

In [19]:
#Declare List
#List can contains items of different types, but usually all items have same type
list= [1,2,3,4,'A','Pune','Mumbai','B']
list

[1, 2, 3, 4, 'A', 'Pune', 'Mumbai', 'B']

In [20]:
#Copy - Copy the elements from list to new list
list1=list.copy()
list1

[1, 2, 3, 4, 'A', 'Pune', 'Mumbai', 'B']

In [21]:
#extend - Append the element one by one, even if you pass list it will append the element from list as individual element one by one
list.extend([12,13])
list

[1, 2, 3, 4, 'A', 'Pune', 'Mumbai', 'B', 12, 13]

In [23]:
#index - Return index of first occurrence between start and end. Raises ValueError if not found.
print(list.index(4))

3

In [24]:
#index - Show error if element is not part of list
print(list.index(17))

ValueError: 17 is not in list

In [25]:
#insert(i,x) - Insert x at index i (shifts others right). Negative indices allowed.
#insert at beginning
list.insert(0,100)
list

[100, 1, 2, 3, 4, 'A', 'Pune', 'Mumbai', 'B', 12, 13]

In [26]:
#insert before index
list.insert(0,200)
list

[200, 100, 1, 2, 3, 4, 'A', 'Pune', 'Mumbai', 'B', 12, 13]

In [27]:
#pop - Remove an element at index i. By Default (without argument) it will removes last element.
list.pop()
list

[200, 100, 1, 2, 3, 4, 'A', 'Pune', 'Mumbai', 'B', 12]

In [29]:
#pop(3) - remove element at index 3
list.pop(3)
list

[200, 100, 1, 4, 'A', 'Pune', 'Mumbai', 'B', 12]

In [30]:
list1.clear()

In [31]:
#pop - pop on empty list raises IndexError.
list1.pop()

IndexError: pop from empty list

In [33]:
list.insert(5,4)
list

[200, 100, 1, 4, 'A', 4, 'Pune', 'Mumbai', 'B', 12]

In [34]:
#remove - remove first occurrence of value x. Raises ValueError if not found.
list.remove(4)
list

[200, 100, 1, 'A', 4, 'Pune', 'Mumbai', 'B', 12]

In [36]:
list.remove(87)
list

ValueError: list.remove(x): x not in list

In [37]:
#reverse - reverse the list
list.reverse()
list

[12, 'B', 'Mumbai', 'Pune', 4, 'A', 1, 100, 200]

In [ ]:
#sort - sort the given list, if the list has numeric and string values it will show an error 
list.sort()
list

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
#sort - declaring list with numeric values
list2 = [4,98,0,100,23,2]
list2

[4, 98, 0, 100, 23, 2]

In [ ]:
#sort - sort numeric values list
list2.sort()
list2

[0, 2, 4, 23, 98, 100]

In [ ]:
#not listed function - max
print(max(list2))

100

In [44]:
#not listed function - min
print(min(list2))

0

In [45]:
#not listed function - len
print(len(list2))

6

In [46]:
#not listed function - sum
print(sum(list2))

227

In [ ]:
# Reassign list2 with non sorted element
list2 = [4,98,0,100,23,2]
list2

[4, 98, 0, 100, 23, 2]

In [ ]:
#not listed function - sorted
print(sorted(list2))

[0, 2, 4, 23, 98, 100]

In [65]:
# Special operator with list
# List concatenate with +
list1=[1,2,3]
list2=[4,5,6]
print(list1+list2)

[1, 2, 3, 4, 5, 6]

In [66]:
# Special operator with list
# List Repetition with *
list1=[1,2,3]
print(list1*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [68]:
# Special operator with list
# Membership: in / not in
print(5 in list1)
print(3 in list1)

False
True

In [69]:
# Special operator with list
# Membership: in / not in
print(5 not in list1)
print(3 not in list1)

True
False

In [76]:
# Special operator with list
# Slicing
# Slicing: list[start:end:step]
list = [1,5,3,0,7,8,11] # start at index 1, end(exclude) at index 5
print(list[1:5])

[5, 3, 0, 7]

In [77]:
# Special operator with list
# Slicing
# Slicing: list[start:end:step]
list = [1,5,3,0,7,8,11] # start at index 1, end(exclude) at index 5 and step every 2 element
print(list[1:5:2])

[5, 0]

In [78]:
print(list[:4])

[1, 5, 3, 0]

In [79]:
print(list[4:])

[7, 8, 11]